main {
  margin-top: 10%;

}

h1 {
  font-weight: bold;

}

/* unvisited link */
a:link {
 color: red;
}

/* visited link */
a:visited {
 color: blue;
}

/* mouse over link */
a:hover {
 color: hotpink;
}

/* selected link */
a:active {
 color: blue;
}
