.container{
  clear:both;
}
.key-div
{
  width:50%;
  float:left;
  font-weight: bold;
}
.value-div
{
  width:50%;
  float:left;
  font-weight: bold;
}

h1{
  font-weight: bold;
}

main{
  margin-top: 5%;

}
