<!-- templates/accounts/password_reset_confirm.html -->
{% extends 'accounts/base.html' %}

{% block title %}Enter new password{% endblock %}

{% load static %}
{% block content %}
<script src="{% static '/accounts/js/jquery.min.js' %}"></script>
<!--<script src="{% static '/accounts/js/parsley.min.js' %}"></script>-->
<script src="{% static '/accounts/js/password_reset_confirm.js' %}"></script>

<link href="{% static 'registration/css/password_reset_confirm.css' %}" rel="stylesheet">


<h1>Inserisci una nuova password!</h1>
<br>
<form method="POST" id="form_new_password" onsubmit="return checkpassword()">
  {% csrf_token %}
  <p class="new_password1">{{ form.new_password1.label_tag}} {{ form.new_password1 }}
  <span id="characters"></span>
  </p>
  <br>
<!--  <span class="helptext" id="helptext">
  </span>
-->
  <p class='new_password2'>
  {{ form.new_password2.label_tag}} {{ form.new_password2 }}
  <span id="characters2"></span>
  </p>
  <br><br>

  <input type="submit" value="Cambia">
</form>

{% endblock %}
